
@page "/Passwords"
@inject IPasswordClientService PasswordClientService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@attribute [Authorize]

<AuthorizeView>
	<Authorized>
		<PageTitle>Passwords</PageTitle>
		<div class="col-12 row" style="text-align:left; font-weight:bold">
			<span class="col-12" style="color:red">@ServiceMesssage</span>
		</div>
		<button class="col-sm-2 custombtn p-2" title="Create New" @onclick="CreatePassword">Create New Password</button>
		<div class="margin-top:10px;height:1px;background-color:black" />
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>SiteURL</th>
					<th>UserName</th>
					<th>ModifiedDate</th>
					<th>Facilities</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var password in PasswordList)
				{
					<tr>
						<td>@password.Name</td>
						<td>@password.SiteURL</td>
						<td>@password.UserName</td>
						<td>@password.ModifiedDate</td>
						<td>
							<div>								
								<button class="custombtn p-1" title="Edit" @onclick="(() => EditPassword(password.Id))"><i class="oi oi-pencil"></i></button>
								<button class="customdelbtn p-1" title="Delete" @onclick="(() => DeletePassword(password))"><i class="oi oi-trash"></i></button>
							</div>
						</td>

					</tr>
				}
			</tbody>
		</table>
		

</Authorized>
	<NotAuthorized>
		<p role="alert">You're not authorized</p>
	</NotAuthorized>
</AuthorizeView>



@code {
	public List<PasswordListItemDTO> PasswordList = new();
	public string ServiceMesssage { get; set; } = string.Empty;


	protected override async Task OnInitializedAsync()
	{
		var result = await PasswordClientService.GetPasswordList();
		if (result.Success)
		{
			PasswordList = result.Data;
		}
		else
		{
			ServiceMesssage = result.Error;
		}

	}

	private void EditPassword(string id)
	{
		NavigationManager.NavigateTo($"EditPassword/{id}");
	}

	private void CreatePassword()
	{
		NavigationManager.NavigateTo("CreatePassword");
	}


	private async void DeletePassword(PasswordListItemDTO input)
	{
		var result = await PasswordClientService.DeletePassword(input);
		if (result.Success)
		{
			var loadresult = await PasswordClientService.GetPasswordList();
			if (loadresult.Success)
			{
				PasswordList = loadresult.Data;
					await InvokeAsync(() =>
                {

                    StateHasChanged();
                });
			}
			else
			{
				ServiceMesssage = result.Error;
			}
		}
		else
		{
			ServiceMesssage = result.Error;
		}
	}

}
