
@page "/Users"
@inject IUserClientService UserViewService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@attribute [Authorize]

<AuthorizeView>
	<Authorized>
		<PageTitle>Users</PageTitle>
		<div class="col-12 row" style="text-align:left; font-weight:bold">
			<span class="col-12" style="color:red">@ServiceMesssage</span>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>UserName</th>
					<th>Email</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Locked</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var user in UsersList)
				{
					<tr>
						<td>@user.UserName</td>
						<td>@user.Email</td>
						<td>@user.FirstName</td>
						<td>@user.LastName</td>
						<td>
							@if (user.Locked)
							{
								<input type="checkbox" disabled checked>
							}
							else
							{
								<input type="checkbox" disabled>
							}
						</td>
						<td>
							<div>

								<button class="btn btn-primary" title="Edit" @onclick="(() => EditUser(user.Id))"><i class="oi oi-pencil"></i></button>

							</div>
						</td>

					</tr>
				}
			</tbody>
		</table>
		

</Authorized>
	<NotAuthorized>
		<p role="alert">You're not authorized</p>
	</NotAuthorized>
</AuthorizeView>



@code {
	public List<UserListItemDTO> UsersList = new();
	public string ServiceMesssage { get; set; } = string.Empty;


	protected override async Task OnInitializedAsync()
	{
		//if (string.IsNullOrEmpty(await LocalStorage.GetItemAsync<string?>("token")))
		//{
		//	var tokenrresult = await UserViewService.GetUserToken();
		//	await LocalStorage.SetItemAsync("token", tokenrresult.Data);
		//}
		
		
  //      await AuthStateProvider.GetAuthenticationStateAsync();

		var result = await UserViewService.GetUserList();
		if (result.Success)
		{
			UsersList = result.Data;
		}
		else
		{
			ServiceMesssage = result.Error;
		}

	}

	void EditUser(string id)
	{
		NavigationManager.NavigateTo($"EditUser/{id}");
	}



}
